<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Files</key>
	<dict>
		<key>ACPI\FixShutdown-USB-SSDT.aml</key>
		<data>
		PaGGtfMtTNrZWs9C8Qc4ndE8W6WzSdaKyaQre0mJE00=
		</data>
		<key>ACPI\SSDT-ALS0.aml</key>
		<data>
		H0Hk+ySlB6bkka+YF0qFleKt34olFABlSCgjoWKVWvU=
		</data>
		<key>ACPI\SSDT-BATT.aml</key>
		<data>
		k/XzVsmcYrkyOYtw3juP4OrL3LhFh6xQZHdzL8MmnhU=
		</data>
		<key>ACPI\SSDT-DMAC.aml</key>
		<data>
		oDvb7u6QaSRx9H71U6mr3mB0NVhasF/aZ+syOaEUqcE=
		</data>
		<key>ACPI\SSDT-EC-USBX-LAPTOP.aml</key>
		<data>
		2+ZpKos3R/sY8msfEun+PpbQ0JZL6nHt8PnVyzf7op4=
		</data>
		<key>ACPI\SSDT-GPI0.aml</key>
		<data>
		KhXu7LOZ8SY8p008ykPXRPAWFr3BFWMFNQwlAhFgUNk=
		</data>
		<key>ACPI\SSDT-GPRW.aml</key>
		<data>
		VlvmcqM8SRPYD6qOpZ1vIMSClXLph3emqa5+uYt5KQ8=
		</data>
		<key>ACPI\SSDT-PLUG.aml</key>
		<data>
		cVMlcCw6sn4eLFavzim2BKGll4jkNKu1bvEwyUZmnKE=
		</data>
		<key>ACPI\SSDT-PMC.aml</key>
		<data>
		VD5TNKqg0LLJqpch0m4eUh/sChhl7f+G8JZ2FZzpmHM=
		</data>
		<key>ACPI\SSDT-PNLF.aml</key>
		<data>
		gihU7Zj6xLCvuJ8Sc6c57SW6egupj1l4wtn7b59HmGk=
		</data>
		<key>ACPI\SSDT-RMD1.aml</key>
		<data>
		hIoUkaSFNIuOpBnjfo+KDYixg8dIPM3csE5mjg6LtwE=
		</data>
		<key>ACPI\SSDT-SBUS-MCHC.aml</key>
		<data>
		Uf02YX9B8ifK8F/fMFtLZvBu1AP3qhl19Se0U2vVvZI=
		</data>
		<key>ACPI\dsdt.aml</key>
		<data>
		bYPkAK6RRbc6rhGyZbJqZ8pYz7NCM/+kZSCE6KjXZjg=
		</data>
		<key>ACPI\ssdt-rmne.aml</key>
		<data>
		BLqEalaM4xSOefuQwxu44ASGIrrNhGsox1d4/Ugn5jg=
		</data>
		<key>Drivers\HfsPlus.efi</key>
		<data>
		YZNfOa7Vd9ad+WYoL5P9KIamEcJm33rI8QVYttLXHXg=
		</data>
		<key>Drivers\OpenCanopy.efi</key>
		<data>
		5irCAADG/5dBpfonUb6YYVraGRBY/xdI9hSgpelu/vg=
		</data>
		<key>Drivers\OpenLinuxBoot.efi</key>
		<data>
		DLVjjxf9t3kRMbBtOGgypU3cD1uGeyIjAPg3yG17fgk=
		</data>
		<key>Drivers\OpenRuntime.efi</key>
		<data>
		MFoQ3C4+kY1vkSuSSHZrQdYdCVMkGVaDc1nUyHcvFx0=
		</data>
		<key>Drivers\ResetNvramEntry.efi</key>
		<data>
		cNdkIHkyCsfpL2SEjis8ZplWxHsbYzDu8poyTsxbAJg=
		</data>
		<key>Drivers\ToggleSipEntry.efi</key>
		<data>
		lKHQlLZPea4NeNP4vEnc6X3VdKHqKgaUyBdn6+0NDdc=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\Info.plist</key>
		<data>
		JtYf+aetNoznv8kMptnWuMnh+tjD05lrh6stseeBcj8=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\MacOS\AirportBrcmFixup</key>
		<data>
		ee6vr60nnt1t8jtdNNJKbH52OeYhqSWoQIsPQotJP0U=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\PlugIns\AirPortBrcm4360_Injector.kext\Contents\Info.plist</key>
		<data>
		uKkl170EZ78/YKRdEFV3WZKzGNFm4GVVZZHcwlMmpOo=
		</data>
		<key>Kexts\AirportBrcmFixup.kext\Contents\PlugIns\AirPortBrcmNIC_Injector.kext\Contents\Info.plist</key>
		<data>
		Unaia+1WKj8TZbsMj/WY/t1QymSm6+G1SkDEM0vVImU=
		</data>
		<key>Kexts\AppleALC.kext\Contents\Info.plist</key>
		<data>
		l+rtgvb8ULqRjGPnt+Fjw7BuKpIIvbHEl5LjbQeWKRc=
		</data>
		<key>Kexts\AppleALC.kext\Contents\MacOS\AppleALC</key>
		<data>
		aT1oPTiPl/Z5xGKWkjavVZfhwei95v6uQpTyCH1pCbA=
		</data>
		<key>Kexts\AsusSMC.kext\Contents\Info.plist</key>
		<data>
		vnsZF/iYZoGNI+37bIr9hyjEt1rqyiCrryl+v7fhznQ=
		</data>
		<key>Kexts\AsusSMC.kext\Contents\MacOS\AsusSMC</key>
		<data>
		1mFd2cKDAPEo9D9ZHkjKv1Q2QLwNWgJyB7jST4nRXok=
		</data>
		<key>Kexts\BrcmBluetoothInjector.kext\Contents\Info.plist</key>
		<data>
		z1BvU/Pul2i4B5QHDnytmzWeEfoh8zHLKGp+zESj95E=
		</data>
		<key>Kexts\BrcmFirmwareData.kext\Contents\Info.plist</key>
		<data>
		YB7bZhqp3umsawPD83t+E09qaTNzn8h8XcX+d+L9HfY=
		</data>
		<key>Kexts\BrcmFirmwareData.kext\Contents\MacOS\BrcmFirmwareData</key>
		<data>
		nFx78v9sTmOSG7QfIGVY1bpg6xmaf/TLLPpZUz9IuiU=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\Info.plist</key>
		<data>
		fhh8oYwlyrBlIz7bJcWJseo1gWwrFQkrmqcjwgHrwHQ=
		</data>
		<key>Kexts\BrcmPatchRAM3.kext\Contents\MacOS\BrcmPatchRAM3</key>
		<data>
		wCJfyBZfMHhkCCiB9pqt6eTMZrpZdcmJiSXDbImd448=
		</data>
		<key>Kexts\CPUFriend.kext\Contents\Info.plist</key>
		<data>
		ph1VeOBxzkmOLodW6M+c5ecfVHBuHs7WNZI1pSQfRno=
		</data>
		<key>Kexts\CPUFriend.kext\Contents\MacOS\CPUFriend</key>
		<data>
		vSKAiok0t1rYENFbEwG2bxrfybdnIdAqB9VMObymcqk=
		</data>
		<key>Kexts\CPUFriendDataProvider.kext\Contents\Info.plist</key>
		<data>
		KFPq6X9SgxA+IIx8pK7YDXXVfiGiwRjVMuwZ1xVtKDA=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\Info.plist</key>
		<data>
		ImQQLvWOJSaFQZk9AWXNGLsRNU8I+xP+YQ0Y3mHgxtY=
		</data>
		<key>Kexts\CpuTscSync.kext\Contents\MacOS\CpuTscSync</key>
		<data>
		sN/zYIkt4v+ZrTLonK9JXNkvfhZdnLQjfI79Dk7FyNw=
		</data>
		<key>Kexts\ECEnabler.kext\Contents\Info.plist</key>
		<data>
		x7sgNhKBv9gbaDwh3rjGHsXo6HSe/Lr+5x2Vtm9eq8A=
		</data>
		<key>Kexts\ECEnabler.kext\Contents\MacOS\ECEnabler</key>
		<data>
		Soy74PjJeRXEjvAHUfO8HcMRXgXDVEnutYHx5uCEJYw=
		</data>
		<key>Kexts\FeatureUnlock.kext\Contents\Info.plist</key>
		<data>
		O3Nd6AApBIuc1wfJS9dY/A4Vpkuz8kbQwtFUD3a84yg=
		</data>
		<key>Kexts\FeatureUnlock.kext\Contents\MacOS\FeatureUnlock</key>
		<data>
		yXu8JMtNlaCgF+RCr0G5g+4X0B1tkLYmHyXpXdued80=
		</data>
		<key>Kexts\HibernationFixup.kext\Contents\Info.plist</key>
		<data>
		LpqzjylY1sZJysLZpCzY3cD1tNHkWDfs9On8YimbRhk=
		</data>
		<key>Kexts\HibernationFixup.kext\Contents\MacOS\HibernationFixup</key>
		<data>
		sOg7NzWbnhCY0+PaOFC37P9uhM4UdiNBmJNypzIqfx4=
		</data>
		<key>Kexts\Lilu.kext\Contents\Info.plist</key>
		<data>
		8CjjBvoM+W28qkzEgIKKBx2xXS9XhmjvYEHsYfay9x8=
		</data>
		<key>Kexts\Lilu.kext\Contents\MacOS\Lilu</key>
		<data>
		2GXSKKLa404ptqkLSxb+7J78/noaw8I4z94/EEKuC4Y=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\arm.h</key>
		<data>
		xfj1djJaRpNDOoVT8M9g2n4YT9w89NaVZbj22momYpA=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\arm64.h</key>
		<data>
		6lElpNgoQUGYaJ2Wv6y67deB0QXTyRIeHBMTrakkCrg=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\capstone.h</key>
		<data>
		8m1zIy/dpClRwpvaIjZo+nkJ3teuZBvsZkWvdxlP40A=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\mips.h</key>
		<data>
		bDZGehQlCFoEzmj79trDbGZSOl9H67eN00x5dVF9JUg=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\platform.h</key>
		<data>
		36NtFdOrFsLD53YMnAWXS3JBYa13v0xZpnO5XK/H7Wg=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\ppc.h</key>
		<data>
		7NIYXRa7qOi/Jz4LJ7ibVcJxbg7oCaJKpfMsqROIkt0=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\sparc.h</key>
		<data>
		YKvAI4eFhu+SOnlGH0jfwGIqwBbV4hbyvieqtG7qcs4=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\systemz.h</key>
		<data>
		lRoeTGTOL/D02I1pjHFcoOhEJtGcQFvm2JEpqqswces=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\x86.h</key>
		<data>
		hXRK0/XnUujgzZcOmk+Ntyk1YOPiJxeim7StAXoLHcc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\capstone\xcore.h</key>
		<data>
		n9giSjZ0TmJBivWkhosF0a5pN0Gn4V4vDgGOVq1XtzQ=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\hde32.h</key>
		<data>
		0NvyBlq52GRpevs2A1hroEeuAEYf1fUVCuxBnB3VT24=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\hde64.h</key>
		<data>
		EJMZ/3q2sTVwj7T/fSCnzvTrMM1MIEjPgJDKqttTuxo=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_api.hpp</key>
		<data>
		aHBOx5qIKZgWNLVD8I+GvsPFo9kf20wRMYwvyuuCe+I=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_compat.hpp</key>
		<data>
		h+cKORKuExh7SDB4KapCRV1/u4qwDJvaxGcGmY4Lgbc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_compression.hpp</key>
		<data>
		sfDhRZENganoIvYkLioO+6viwiqijwGmkWKBAIcXRVg=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_config.hpp</key>
		<data>
		6YQBQYK6MXDXkG2HddCf1SLYfeidzwG8fTT8U+DiPwA=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_cpu.hpp</key>
		<data>
		jYmjkw4EiJ2dRng8oOYCP0zEjtem517h74FoM4u7MxM=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_crypto.hpp</key>
		<data>
		qZuCRi1FPu85ogEAFwRcQYIhfnGWpXdnTJqqN163AMA=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_devinfo.hpp</key>
		<data>
		cIVupqfDh9HJ9xjjotUqRcfvIOw8dPJWG7z/JydXbeY=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_disasm.hpp</key>
		<data>
		b4bqoJu4SNcRoStX0UHiBHcwY0ta4schtY6mINr1rWU=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_efi.hpp</key>
		<data>
		mAVm++D48uIXA1EclnK/g0WnOQM8+h2/beGw2H5ECG0=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_file.hpp</key>
		<data>
		Oeju6TQQsDYK1WpEK3EAtLvwv+rDozwBndsrnndDMjM=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_iokit.hpp</key>
		<data>
		xUNY1MBYSoEvhkiY+5BYLBSFzrlb1e1Aiq+EI8hxe1I=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_mach.hpp</key>
		<data>
		OjIPCBlTWUzOhTB+JO4eJGZ5mTJmrV7aJZgUDzalrSk=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_nvram.hpp</key>
		<data>
		klqk1mnswmR/uB00s2ZngKax4ZxyVBxScvhrWfLaNt4=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_patcher.hpp</key>
		<data>
		nu0OQLU1pfKrNKQhb6LhCWPwoVkEgim6/+43hYPjBhU=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_policy.hpp</key>
		<data>
		O0Ntermxw95yomonIFNwkzpr0mzGkBC33HbDDmlKnJY=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_rtc.hpp</key>
		<data>
		89t6InLLXMyQoP8g7XIV/vcVvKFuRQTVQhYwoANjLfs=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_time.hpp</key>
		<data>
		S16/sqyJbf1iGCyEgAvJ5YuNK1WNUZlOsvlntZQwPx8=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_user.hpp</key>
		<data>
		kdUbHQQkFH+uU06aMXkW8oCq2ye48XaeKYM8/3FSzlw=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_util.hpp</key>
		<data>
		ma8K69omb6qFZRg3DFh9yAWJ8SxotM6uhml08jFCtS8=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\kern_version.hpp</key>
		<data>
		0kMD/m7NShPBrN3+fbwjWREPuUN8Wfu9/zvUzAcaBSs=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Headers\plugin_start.hpp</key>
		<data>
		lhPoqV/INAoSiy9iSMQj4rY6yLxJNZGIABVrdqqLeL8=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Library\plugin_start.cpp</key>
		<data>
		nrxUE4sFvryG14R5IJ86b9r+3rW3Mr4ZDMRJtrgubr8=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Library\wrappers\build.tool</key>
		<data>
		Iwkalc/r3dFBLUKR9DcxxGj2Jmu4b/qtD/aRgHyBUk8=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Library\wrappers\entry32.S</key>
		<data>
		3NnXERjFp/wkX4gcQLiAUSCmhT6XHbZirwugGxKvXEc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Library\wrappers\entry64.S</key>
		<data>
		3Vu6TbEvsT54s5NCCaUgBfcaI9IKBaK1rTNrxwiY9Fc=
		</data>
		<key>Kexts\Lilu.kext\Contents\Resources\Library\wrappers\wrappers.inc</key>
		<data>
		FSq9Z+piIXMUF1lrT4KU4mS3mVJ5a8AxokoZC3WkZBA=
		</data>
		<key>Kexts\NullEthernetInjector.kext\Contents\Info.plist</key>
		<data>
		vjbyrEQ1e2hXC/CBjTw60fkNcXazlioh+X0jrlkkf60=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Info.plist</key>
		<data>
		0vnYSQpvEc2Y/ECskvyKjH3jlNRxZAayJU2sA6qzwPQ=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\MacOS\SMCBatteryManager</key>
		<data>
		35aFPwJv2tZu9W90DSumVpX7LQOUpjFvJUxAt04GL94=
		</data>
		<key>Kexts\SMCBatteryManager.kext\Contents\Resources\SSDT-BATC.dsl</key>
		<data>
		5mu9V+XG7w3bw6blH2j+h12EcJtz1HcuHBkyafKonks=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\Info.plist</key>
		<data>
		YwOEcA5VUUgXbIcRWVbteY5fheRDUQ14J2mytBYFimo=
		</data>
		<key>Kexts\SMCProcessor.kext\Contents\MacOS\SMCProcessor</key>
		<data>
		ZTzEgG/Kp+eHikwmjZJx1Fb7o5UnKkCgIBgRFHaqiNg=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\Info.plist</key>
		<data>
		IPNFDa2Lr26jbj0e1m+X4V+rxUVT1NdNh2I0Zjkceo0=
		</data>
		<key>Kexts\SMCSuperIO.kext\Contents\MacOS\SMCSuperIO</key>
		<data>
		zc3uWW3uuUeT+8ankOINZ1N5bWUoKaNsGg43UsU2Kic=
		</data>
		<key>Kexts\USBToolBox.kext\Contents\Info.plist</key>
		<data>
		spSn2avUW6XOsIlfKW1P97CSY1uCTbr6ZoZtaGsTyOE=
		</data>
		<key>Kexts\USBToolBox.kext\Contents\MacOS\USBToolBox</key>
		<data>
		gzbyWwPeLcHWymVQSD+EWzRsg9uOW7CkANzpL7z7wYs=
		</data>
		<key>Kexts\UTBMap.kext\Contents\Info.plist</key>
		<data>
		2a7Qz9luUFiNSvGX/1h2xOaTimWw1XpMYbkt1BtUEnw=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Info.plist</key>
		<data>
		0Q0jcxAfa5YnfUsuCkNZm0OpdQnNaDJFgm/N4S8mSWU=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\MacOS\VirtualSMC</key>
		<data>
		iPqLVnZLfrF+9QTnlkUIuwrE1eMUObXqJk7jFXmYh/A=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Resources\VirtualSMCSDK\AppleSmc.h</key>
		<data>
		wEk9FXzdAAhRpcURMnvSfmUDbwlHqBxbEOh0sZAa8Zk=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Resources\VirtualSMCSDK\AppleSmcBridge.hpp</key>
		<data>
		9O5l0NjBDrqSQ2be7CrTW7GQLCx14iLG7xG5EdAZV04=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Resources\VirtualSMCSDK\kern_keyvalue.hpp</key>
		<data>
		pgDilFb0FbDTTea2CmUlN5XsgxMxB7VP4aSWMaCKAjc=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Resources\VirtualSMCSDK\kern_smcinfo.hpp</key>
		<data>
		+uE7BA6pL8y5dj6LKC/IMMIAnk5kqxBzFtqeDvIpm/s=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Resources\VirtualSMCSDK\kern_value.hpp</key>
		<data>
		Xm/B89rzd8p9YxpzasF9HdnxKjGuCemB8s0LeYKSBWo=
		</data>
		<key>Kexts\VirtualSMC.kext\Contents\Resources\VirtualSMCSDK\kern_vsmcapi.hpp</key>
		<data>
		hPbPF22ygg362c4sbr6MAcp8b/a+uLN45yhxcM89jBI=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\Info.plist</key>
		<data>
		kGnPthyvt1DMKcCnACGoKeN1N4AWbPx1INC+ABY88PQ=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\MacOS\VoodooI2C</key>
		<data>
		NRAU+jSdH+JqIx6whNxCZrv1xmicCA9Xef26/vfb+MM=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooGPIO.kext\Contents\Info.plist</key>
		<data>
		G8Vizmd93znrWZarkxyaqCCwiX2cIoTYJROavW2Mzwk=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooGPIO.kext\Contents\MacOS\VoodooGPIO</key>
		<data>
		5cmB0CVfP8+q06fVLrLK7jFVUMwBiahna1yrJTMW9uc=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooI2CServices.kext\Contents\Info.plist</key>
		<data>
		YvrAPYNyNNHRPh6Cqj+Uyyd17N34+5B60oTuTS8iPkM=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooI2CServices.kext\Contents\MacOS\VoodooI2CServices</key>
		<data>
		GzNVNj5wtvnMcWdeoDwm9OJq/W8rq9fV3tYFwz+B9X8=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext\Contents\Info.plist</key>
		<data>
		f4dWR4exqUAJW+3BJzLZ/YcSprkI51/08eKllc/rLA8=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext\Contents\MacOS\VoodooInput</key>
		<data>
		TuhLcw/q3OV7638Ylik3vRksRxmcnQxtNHlpUMmjdpA=
		</data>
		<key>Kexts\VoodooI2C.kext\Contents\PlugIns\VoodooInput.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VoodooI2CHID.kext\Contents\Info.plist</key>
		<data>
		m7Jegcw7Lo7N0wXXimHNqgiactCYfNqJvtByWeQlmOQ=
		</data>
		<key>Kexts\VoodooI2CHID.kext\Contents\MacOS\VoodooI2CHID</key>
		<data>
		8J4ib6N7PxkpgFbzRSLLAeC8zqYUFRcDqzICDpb5RFk=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\Info.plist</key>
		<data>
		MKkXWpX10+em6wOFXNt+cQokHpW6i3IridwbVetY5Cs=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\MacOS\VoodooPS2Controller</key>
		<data>
		gdGFDXbN2JL3Uyh1/ioHmGgvUsL4HRf2FhX+Hdyd2T0=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\Info.plist</key>
		<data>
		9+tmvJXgr6O3uX5+5i8PBoalP/0//8fZZxkPAhw7pSI=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\MacOS\VoodooInput</key>
		<data>
		Mjy1WLQc8o95cSaz7jeYDCs93bcEXVkOxbepOaJXBzI=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooInput.kext\Contents\_CodeSignature\CodeResources</key>
		<data>
		ZobeEKKKL+EbNsu4bcusyCfPxOoRa02r8YReWu5inps=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Keyboard.kext\Contents\Info.plist</key>
		<data>
		0R/rHz5+Uu1zi+ZK9uIi7hnrgKN6MkzUeqo14r/Rpjg=
		</data>
		<key>Kexts\VoodooPS2Controller.kext\Contents\PlugIns\VoodooPS2Keyboard.kext\Contents\MacOS\VoodooPS2Keyboard</key>
		<data>
		dfjmRWp7O2V9eYuD9+4wR8W0fy6ujOzVGsYqIK+d7oA=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\Info.plist</key>
		<data>
		zFXvxVeGZYG4C4u2CaFWOrvLJtGiN0E3mIwCeCU2eIM=
		</data>
		<key>Kexts\WhateverGreen.kext\Contents\MacOS\WhateverGreen</key>
		<data>
		OLH/D63QnHSgWNR6Vh82m+1WoD25VJ8AQJBr08YWVL4=
		</data>
		<key>Tools\CleanNvram.efi</key>
		<data>
		KBOO8MeWcjH0t0CmPOULdjrzyUbdw6vKZ8uRzoXFgPY=
		</data>
		<key>Tools\OpenControl.efi</key>
		<data>
		h4RGP5FpUTVu4r7O25b/aWutr7WGMDovTP02B1XdvOE=
		</data>
		<key>Tools\OpenShell.efi</key>
		<data>
		NTH/UOrxuxDFrt5EP/oJijuki01tPZPRX0GYUTZzctg=
		</data>
		<key>Tools\ResetSystem.efi</key>
		<data>
		vWBjkRNiE8XYvCwq773C8vt1CgfVpSf2MHaexbXdPdc=
		</data>
		<key>Tools\RtcRw.efi</key>
		<data>
		n20+TfmO9OMUfnb6RvY4G+6DHfjm9/BlcUuYoSlMqsg=
		</data>
		<key>config.plist</key>
		<data>
		02ZkA55p3BanugAfC4JZsrnlFrMxSSSmR099EAR+O4w=
		</data>
		<key>oldConfig.plist</key>
		<data>
		rQB8hS31j18xov1WOzjo/EreZC8S7GoXqik90IokH+s=
		</data>
	</dict>
	<key>Version</key>
	<integer>1</integer>
</dict>
</plist>
